<p>
  education works!
</p>
<div id="education">
  <div class="container">
    <div class="green-divider"></div>
    <div class="heading">
      <h2>Education</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="education-block">
          <h5>2018</h5>
          <img src="../../../assets/img/simplon.logo5.png" />
          <h3>SIMPLON</h3>
          <h4>RNCP bac+2, "Développeur logiciel"</h4>
          <div class="red-divider"></div>
          <p>Développement Full-Stack</p>
          <p>spécialité : Web</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="education-block">
          <h5>2007</h5>
          <img src="../../../assets/img/logoinseec2.png" />
          <h3>INSEEC - Paris</h3>
          <h4>Master en Ingénieri e et Gestion de Patrimoine</h4>
          <div class="red-divider"></div>
          <p>gestion de portefeuille</p>
          <p>fiscalité</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="education-block">
          <h5>2002 - 2006</h5>
          <img src="../../../assets/img/edhec2.png" />
          <h3>BBA EDHEC - Nice</h3>
          <h4>Bachelor en Gestion des Entreprises</h4>
          <div class="red-divider"></div>
          <p>Finance</p>
          <p>Marketing</p>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="education-block">
          <h5>2018</h5>
          <img src="../../../assets/img/logo-carre-2.png" />
          <h3>Bachelor CampusID</h3>
          <h4>Software Developer</h4>
          <div class="red-divider"></div>
          <p>spécialité : Software Development</p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
