<p>
  skills works!
</p>
<div id="skills">
  <div class="green-divider"></div>
  <div class="heading">
    <h2>Compétences</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:85%"
          >
            <h5>HTML / CSS</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="35"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:25%"
          >
            <h5>C / C++ / C#</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:65%"
          >
            <h5>JAVASCRIPT / JQUERY</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="75"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:75%"
          >
            <h5>PHP</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:65%"
          >
            <h5>SQL</h5>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="35"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:25%"
          >
            <h5>JAVA</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="70"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:80%"
          >
            <h5>BOOTSTRAP</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="35"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:35%"
          >
            <h5>ANGULAR</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="55"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:85%"
          >
            <h5>GIT</h5>
          </div>
        </div>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="60"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:45%"
          >
            <h5>PWA</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
