<p>
  portfolio works!
</p>
<div id="portfolio">
  <div class="container">
    <div class="white-divider"></div>
    <div class="heading">
      <h2>Portfolio</h2>
    </div>

    <div
      id="moncarousel"
      class="carousel slide"
      data-ride="carousel"
      style="max-width: 1200px;"
    >
      <ol class="carousel-indicators">
        <li data-target="#monCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#monCarousel" data-slide-to="1"></li>
        <li data-target="#monCarousel" data-slide-to="2"></li>
        <li data-target="#monCarousel" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="../../../assets/img/Capture du 2018-06-26 10-44-10.png" />
          <div class="carousel-caption">
            <h3>AMADEUS</h3>
          </div>
        </div>

        <div class="item">
          <img
            src="../../../assets/img/Capture du 2018-06-26 10-51-30.png"
            alt=""
          />
          <div class="carousel-caption">
            <h3>GUIDER</h3>
          </div>
        </div>

        <div class="item">
          <img
            src="../../../assets/img/Capture du 2018-06-26 10-42-30.png"
            alt=""
          />
          <div class="carousel-caption">
            <h3>SIMPLON</h3>
          </div>
        </div>

        <div class="item">
          <img
            src="../../../assets/img/Capture du 2018-06-26 10-37-38.png"
            alt=""
          />
          <div class="carousel-caption">
            <h3>NIRVANA</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
